.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.todoitems-container{
    display: flex;

}

.todoitems-text{
    padding-left: 16px;
    color: #404040;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 25px;
}

.line-through{
    text-decoration: line-through solid #b10f0f 3px;
}
